*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    position: absolute;
    width: 100%;
    z-index: 3;
}
.header-container{
    margin: 0 auto;
}
.desktop-menu-container{
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
    align-items: center;
    flex-wrap: wrap;
}
.container{
    max-width: 1180px;
}
.showcase-overlay-container{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../images/woman-traveler-with-backpack-walking-yasaka-pagoda-sannen-zaka-street-kyoto-japan\ 1.png);
}
.showcase-overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
}
.mobile-menu-container{
    display: none;
}

.header-logo-link{
    color: white;
    text-decoration: none;
}
.header-logo-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}
.header-logo-title_color{
    color: rgba(255, 169, 2, 1);
}
form{
    display: flex;
    align-items: center;
}
.search-input-container{
    width: 43%;
}
.search-input-container img{
    position: absolute;
    margin: 0 31px;
}
.search-input{
    flex-grow: 1;
    border-radius: 30px;
    height: 53px;
    border: none;
    padding-left: 50px;
}
.search-input::placeholder{
    padding-left: 18px;
}
.social-media{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.social-media-icon{
    width: 36px;
    height: 36px;
    border: 1px solid none;
    background-color: white;
    border-radius: 50%;
    margin: 0 7px;
   
}
.social-media-icon:hover{
background-color: rgba(255, 169, 2, 1);
}
.social-media-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
}
.svg-color{
    fill: rgba(0,0,0,0.7); 
}
.social-media-icon:hover .svg-color{
    fill: white;
}
.menu-container{
    max-width: 1180px;
    margin: 20px auto 0 auto;
    border-top: 1px groove rgba(255, 255, 255, 0.6);
}
.menu-title{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: wrap;
}
.menu-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    transition: color 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-link:hover{
    color: rgba(255, 169, 2, 1);
    
}
.menu-svg{
    fill: white;
}

.menu-link:hover .menu-svg{
    fill: rgba(255, 169, 2, 1);
}
.menu svg{
    margin-left: 3px;
}
.menu{
    position: relative;
  
}
.menu ul{
    display: none;
}

.menu-link:hover .about-menu-container{
    display: block
}
.under-menu{
    position: relative;
    justify-content: flex-start;
}
.about-menu-container{
    list-style: none;
    position: absolute;
    top: 30px;
    color: white;
}
.showcase-text-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    max-width: 1000px;
    margin:  auto;
  }
.showcase-text-container h1{
    display: flex;
    flex-wrap: nowrap;
    font-size: 75px;
    color: white;
    line-height: 112.5px;
    font-weight: 700;
    text-align: center;

}
.showcase-text-container p{
    line-height: 29.45px;
    font-weight: 400;
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 28px;
    max-width: 900px;
}
.showcase-text-container h4{
    margin-top: 28px;
    font-size: 36px;
    line-height: 70.67px;
    font-weight: 700;
    color: rgba(255, 169, 2, 1)
}
.mobile-submenu-container{
    display: none;
}
.category-container{
    margin: 100px auto 0 auto;
    padding-bottom: 50px;
}
.category-showcase-container {
        position: relative;
        height: 100%;
      }

.category-showcase{
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }
.category-showcase h3{
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    margin-bottom: 50px;
}

.swiper {
    width: 100%;
    height: 100%;
    z-index: -1;
  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: rgba(32 ,32 ,32,0.7);
    border-radius: 5%;
    
  }
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  } 
.swiper-button-next{
    right: -50px !important;
    top: 65% !important;
  }
.swiper-button-prev{
    left: -50px !important;
    top: 65% !important;
  }
.swiper-button-next:after{
    color: rgba(20, 20, 20, 1);
    width: 41px;
    height: 40px;
  }
.swiper-button-prev:after{
    color: rgba(134,131,131,1);
    width: 41px;
    height: 40px;
  }
.swiper-slide p{
    position: absolute;
    line-height: 27px;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
  }
.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: -50px !important;
  }
.solo{
    background-image: url(../images/1.png);
}
.mount{
    background-image: url(../images/2.png);
}
.jungal{
    background-image: url(../images/3.png);
}
.road{
    background-image: url(../images/4.png);
}
.ocean{
    background-image: url(../images/5.png);
}
.old-city{
    background-image: url(../images/6.png);
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px !important;
    width: 18px;
    height: 18px;
    background-color: rgba(255, 169, 2, 1);
}
.explore-container{
    margin: 100px auto 0 auto;
}
.explore-element-container{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.explore-showcase h3{
    font-size: 36px;
    line-height: 54px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 35px;
}
.explore-element{
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(33% - 30px);
}
.explore-element:nth-child(3n+1){
    margin-left: 0;
}
.explore-element:nth-child(3n){
    margin-right: 0;
}
.explore-element img{
    width: 100%;
    height: 100%;
}
.explore-element-showcase{
    padding: 26px 25px 21px 25px;
    margin: 0 auto;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    
}
.explore-element-showcase h5{
    color: rgba(20, 20, 20, 1);
    font-size: 18px;
    line-height: 27px;
    text-align: left;
}
.explore-element-showcase h6{
    font-size: 14px;
    color: rgba(20, 20, 20, 1);
    font-weight: 500;
    line-height: 25px;
    text-align: left;
}
.explore-element-showcase p{
    color: rgba(134,131,131,1);
    text-align: left;
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    margin: 10px 0;
}
.explore-page-number{
    display: flex;
    justify-content: center;
    align-items: center;
}
.explore-page-number div{
    margin: 50px 17px;
}
.explore-element-showcase h6 span:first-child{
    color: rgba(255, 169, 2, 1);
}
.explore-element-showcase h6 span:last-child{
    color: rgba(105, 105, 105, 1);
}
.page-number-link{
    text-decoration: none;
    color: rgba(20, 20, 20, 1);
    transition: color 1s;
}
.page-number-link:hover{
    color:rgba(255, 169, 2, 1)
}
.page-number-link:hover svg path{
    fill: rgba(255, 169, 2, 1);
}
.explore-mobile{
    display: none;
}
@media screen and (max-width: 1170px) and (min-width: 992px) {
.container{
    max-width: 960px; 
}
}
@media screen and (max-width: 992px) and (min-width: 768px){
.explore-element{
     width: calc(50% - 30px);
}
.explore-element:nth-child(4){
    margin-left: 15px;
}
.explore-element:nth-child(3){
    margin-right: 15px;
}
.explore-element:nth-child(2n){
    margin-right: 0;
}
.explore-element:nth-child(2n-1){
    margin-left: 0;
}
.container{
    max-width: 720px; 
}
.showcase-text-container{
    padding: 0 10px 0 10px;
}
.showcase-text-container h1{
    font-size: 54px;
}
.showcase-text-container p{
    font-size: 14px;
    max-width: 640px;
}
.showcase-text-container h4{
    font-size: 28px;
}
}
@media screen and (max-width: 768px) and (min-width: 576px){
.explore-element{
    width: calc(100% - 30px) !important;
    margin: 15px 0;
}
.container{
    max-width: 560px;
}
.search-input-container{
    display: none;
}
.search-input-container{
    display: none;
}
.showcase-text-container h1{
    font-size: 46px;
}
.showcase-text-container p{
    font-size: 14px;
    max-width: 550px;
}
.showcase-text-container h4{
    font-size: 24px;
}

}
@media only screen and (max-width: 576px){
.explore-element{
    width: 100%;
    margin: 15px 0 ;
    text-align: center;
}
.explore-mobile{
    display: block;
}

.container{
    max-width: 360px;
}
   
.search-input-container{
    display: none;
}
.desktop-menu-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social-media-container{
    margin-top: 10px;
}
.menu{
    width: 100%;
}

.menu-container{
    display: none;
}

.menu-link{
    font-size: 20px;
    line-height: 30px;
}

.search-container{
    width:auto;
    display: none;
}
.social-media-container{
    display: none;
}
.mobile-menu-container{
    display: block;
    z-index: 222;
}
.mobile-menu{
    position: relative;
    z-index: 45;
}
.mobile-menu-checkbox{
    position: absolute;
    opacity: 0;
    width: 25px;
    height: 25px;
        
}
.mobile-menu-icon span{
display: block;
background-color: white;
width: 20px;
height: 2px;
margin: 2px 0 2px 0;
z-index: 1;
        
}


.mobile-menu-icon{
    display: block;
    z-index: 46666;
    overflow: auto;
    overflow: hidden;
    
}
input[type="checkbox"]:checked ~ .mobile-menu-icon{
    display: block;
    z-index: 10;
}
input[type="checkbox"]:checked ~ .mobile-menu-icon .mobile-menu-line1{
    transform: rotate(45deg);
    width: 30px;
}
input[type="checkbox"]:checked ~ .mobile-menu-icon .mobile-menu-line3{
    transform: rotate(-45deg);
    width: 30px;
}

input[type="checkbox"]:checked ~ .mobile-menu-icon .mobile-menu-line2{
    opacity: 0;
}
input[type="checkbox"]:checked ~ .mobile-menu-icon{
    display: block;
}
input[type="checkbox"]:checked ~ .mobile-submenu-container {
    display: flex;
    align-items: center;
}

.mobile-submenu-container{
    flex-direction: column;
    list-style: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100wh;
    text-align: center;
    justify-content: center;
    background-color: black;
    z-index: -1;
    opacity: 0.9;

}
.mobile-submenu-link{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.mobile-submenu{
    z-index: 15;
    background-color: black;
    text-align: center;
    margin: 10px 0;
}
.showcase-text-container{
    padding: 0 10px 0 10px;
}
.showcase-text-container h1{
    font-size: 36px;
}
.showcase-text-container p{
    font-size:  10px;
    max-width: 440px;
}
.showcase-text-container h4{
    font-size: 26px;
}
}
