*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    width: 100%;
}
.header-container{
    display: flex;
    max-width: 1180px;
    justify-content: space-between;
    margin: 25px auto;
    align-items: center;
    flex-wrap: wrap;
}
.overlay-container{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../images/woman-traveler-with-backpack-walking-yasaka-pagoda-sannen-zaka-street-kyoto-japan\ 1.png);
}
.overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
}
.mobile-menu-container{
    display: none;
}

.header-logo-link{
    color: white;
    text-decoration: none;
}
.header-logo-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}
.header-logo-title_color{
    color: rgba(255, 169, 2, 1);
}
form{
    display: flex;
    align-items: center;
}
.search-input-container{
    width: 43%;
}
.search-input-container img{
    position: absolute;
    margin: 0 31px;
}
.search-input{
    flex-grow: 1;
    border-radius: 30px;
    height: 53px;
    border: none;
    padding-left: 50px;
}
.search-input::placeholder{
    padding-left: 18px;
}


.social-media{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.social-media-icon{
    width: 36px;
    height: 36px;
    border: 1px solid none;
    background-color: white;
    border-radius: 50%;
    margin: 0 7px;
   
}

.social-media-icon:hover{
background-color: rgba(255, 169, 2, 1);


}
.social-media-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
}

.svg-color{
    fill: rgba(0,0,0,0.7);
    
}
.social-media-icon:hover .svg-color{
    fill: white;
}
.menu-container{
    max-width: 1180px;
    margin: 20px auto 0 auto;
    border-top: 1px groove rgba(255, 255, 255, 0.6);
}



.menu-title{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: wrap;
}
.menu-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    transition: color 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-link:hover{
    color: rgba(255, 169, 2, 1);
    
}
.menu-svg{
    fill: white;
}

.menu-link:hover .menu-svg{
    fill: rgba(255, 169, 2, 1);
}
.menu svg{
    margin-left: 3px;
}
.menu{
    position: relative;
  
}
.menu ul{
    display: none;
}

.menu-link:hover .about-menu-container{
    display: block
}
.under-menu{
    position: relative;
    justify-content: flex-start;
}
.about-menu-container{
    list-style: none;
    position: absolute;
    top: 30px;
    color: white;
}


.article{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    max-width: 1000px;
    margin:  auto;
  }
.article h1{
    display: flex;
    flex-wrap: nowrap;
    font-size: 75px;
    color: white;
    line-height: 112.5px;
    font-weight: 700;
    text-align: center;

}
.article p{
    max-width: 865px;
    line-height: 29.45px;
    font-weight: 400;
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 28px;
}
.article h4{
    margin-top: 28px;
    font-size: 36px;
    line-height: 70.67px;
    font-weight: 700;
}
.mobile-submenu-container{
    display: none;
}


/* .category-container{
    max-width: 1390px;
    margin: 100px auto 0 auto;
}
.category{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category-title-container h3{
    font-size: 36px;
    line-height: 54px;
    font-weight: 600;
}
.travel-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.travel{
    display: flex;
    width: 171px;
    height: 221px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    margin: 50px 15px ;
    background-repeat: no-repeat;
}
.solo{
    background-image: url(../images/1.png);
}
.mount{
    background-image: url(../images/2.png);
}
.jungal{
    background-image: url(../images/3.png);
}
.road{
    background-image: url(../images/4.png);
}
.ocean{
    background-image: url(../images/5.png);
}
.old-city{
    background-image: url(../images/6.png);
}
.travel-arrow{
    width: 41px;
    height: 41px;
    object-fit: cover;
}
.travel-arrow-container:first-child{
    margin-right:45px ;
}
.travel-arrow-container:last-child{
    margin-left:45px ;
}

@media only screen and (max-width: 1380px){
    .travel-arrow-container{
        display: none;
    }
    .travel{
        display: block;
        width: 40%;
    }
} */
@media only screen and (max-width: 906px){
    .article{
        padding: 0 10px 0 10px;
    }
    .article h1{
        font-size: 42px;
    }
    .article p{
        font-size: 14px;
    }
    .aricle h4{
        font-size: 26px;
    }
}
@media only screen and (max-width: 720px){
    .search-input-container{
        display: none;
    }

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }
 .social-media-container{
    margin-top: 10px;
 }
.menu{
    width: 100%;
}

.menu-container{
    display: none;
}

.menu-link{
    font-size: 20px;
    line-height: 30px;
}

.search-container{
    width:auto;
    display: none;
}
.social-media-container{
    display: none;
}
.mobile-menu-container{
    display: block;
    z-index: 222;
}
.mobile-menu{
    position: relative;
    z-index: 45;
}
.mobile-menu-checkbox{
    position: absolute;
    opacity: 0;
    width: 15px;
    height: 15px;
}
.mobile-menu-icon span{
    display: block;
    background-color: white;
    width: 20px;
    height: 2px;
    margin: 2px 0 2px 0;
    z-index: 1;
}

.mobile-menu-icon{
    display: block;
    z-index: 34;
    
}
input[type="checkbox"]:checked ~ .mobile-menu-icon{
    display: block;
    z-index: 10;
}

input[type="checkbox"]:checked ~ .mobile-menu-icon{
    display: block;
}
input[type="checkbox"]:checked ~ .mobile-submenu-container {
    display: flex;
    align-items: center;
}

.mobile-submenu-container{
    flex-direction: column;
    list-style: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100wh;
    text-align: center;
    justify-content: center;
    background-color: black;
    z-index: -1;
    opacity: 0.9;

}
.mobile-submenu-link{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.mobile-submenu{
    z-index: 15;
    background-color: black;
    text-align: center;
    margin: 10px 0;
}
.article{
    padding: 0 10px 0 10px;
}
.article h1{
    font-size: 30px;
}
.article p{
       font-size:  10px;
}
.article h4{
    font-size: 20px;
}
}
